.chart {
  flex: 5;
  color: #777;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  border-radius: 4px;
  h2 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }
  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}
