.single {
  display: flex;
  flex: 1;

  .singleContainer {
    flex: 6;

    .top {
      display: flex;
      padding: 20px;
      gap: 20px;

      .left {
        flex: 1;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        padding: 20px;
        border-radius: 4px;
        position: relative;

        .details {
          margin-left: 22px;
          display: flex;
          flex-direction: column;
          align-self: flex-start;
          gap: 14px;

          .name {
            font-size: 30px;
            font-weight: 500;
            color: #888;
            margin-bottom: 10px;
          }

          .detailItem {
            display: flex;
            gap: 5px;
            align-items: center;
            color: #888;

            .itemKey {
              color: gray;
              font-size: 14px;
            }
            .itemValue {
              font-size: 13px;
            }
          }
        }

        .editBtn {
          cursor: pointer;
          color: purple;
          background-color: rgba(128, 0, 128, 0.158);
          width: min-content;
          padding: 8px;
          font-size: 13px;
          top: 0;
          right: 0;
          position: absolute;
          border-radius: 0px 4px 0px 5px;
        }

        .title {
          font-size: 18px;
          font-weight: 400;
          color: #888;
        }

        .item {
          display: flex;
          padding: 15px;

          .image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
          }
        }
      }

      .right {
        border-radius: 4px;
        flex: 2;
      }
    }

    .bottom {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      padding: 20px;
      border-radius: 4px;
      margin: 10px 20px;
      .title {
        color: #888;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
