.navbar {
  height: 50px;
  border-bottom: 2px solid rgba($color: #000000, $alpha: 0.1);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #999;

  .wrapper {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;
      width: 190px;
      border: 0.5px solid lightgrey;
      padding: 4px;
      border-radius: 4px;
      font-size: 14px;

      input {
        border: none;
        outline: none;
        background: transparent;

        &::placeholder {
          font-size: 13px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;
      font-size: 13px;
      .item {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .icon {
          font-size: 20px;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .counter {
          height: 15px;
          width: 15px;
          background-color: red;
          color: #fff;
          font-size: 10px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
