.home {
  display: flex;

  .homeContainer {
    flex: 6;
    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      margin: 20px;
      padding: 20px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      border-radius: 4px;

      .listTitle {
        color: #666;
        margin-bottom: 15px;
      }
    }
  }
}
