.sidebar {
  flex: 1;
  border-right: 2px solid rgba($color: #000000, $alpha: 0.1);
  min-height: 100vh;
  background-color: #fff;

  .top {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      font-size: 25px;
      font-weight: 600;
      color: #6439ff;
    }
  }
  hr {
    height: 0;
    border: 0.2px solid rgba($color: #000000, $alpha: 0.1);
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 12px;
        color: #999;
        margin-top: 6px;
        margin-bottom: 4px;
      }

      li {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 5px;
        cursor: pointer;

        span {
          //   font-weight: 400;
          font-size: 14px;
          color: #888;
        }
        &:hover {
          background-color: rgba($color: #000000, $alpha: 0.2);
        }
        .icon {
          font-size: 18px;
          color: #7451f8;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      margin: 5px;
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      &:nth-child(1) {
        background-color: white;
      }
      &:nth-child(2) {
        background-color: black;
      }
    }
  }
}
