.widget {
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: 100px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 10px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 12px;
      color: #777;
    }

    .counter {
      font-size: 28px;
      font-weight: 4 00;
    }

    .link {
      border-bottom: 1px solid #888;
      font-size: 13px;
      width: max-content;
    }
    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;

      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }
    .icon {
      border-radius: 5px;
      align-self: flex-end;
    }
  }
}
