.app {
  &.dark {
    background-color: #222;
    color: #999;

    .new {
      input {
        background-color: transparent;
      }
    }

    .single {
      .singleContainer {
        .editBtn {
          color: #999;
          background-color: rgba(153, 153, 153, 0.116);
        }
      }
    }
    .datatable {
      .dataGrid {
        color: #999;

        .viewBtn {
          border-color: #999;
          color: #999;
        }

        .delBtn {
          border-color: red;
          color: rgba(255, 0, 0, 0.822);
        }
      }
    }
    .sidebar {
      background-color: #222;
      border-color: #333;

      .top {
        .logo {
          color: #999;
        }
      }
      ul {
        li {
          .icon {
            color: #999;
          }
        }
      }
      hr {
        border-color: #333;
      }
    }

    .chartGrid {
      stroke: rgba(80, 79, 79, 0.514);
    }
    .table {
      background-color: #222;

      .tableCell {
        color: #999;
      }
    }
    .navbar {
      border-color: #333;
      .search {
        input {
          color: #999;
        }
      }
    }
  }
}
