@import "../../global.scss";
.new {
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      box-shadow: $box-shadow;
      padding: 10px;
      margin: 20px;
      display: flex;
      border-radius: 4px;

      h1 {
        font-size: 20px;
        font-weight: 500;
        color: #888;
      }
      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 18px;
        img {
          width: 35%;
          height: 35%;
          box-shadow: $box-shadow;
          border-radius: 50%;
        }

        label {
          display: flex;
          gap: 5px;
          align-items: center;
          font-size: 15px;
          .icon {
            cursor: pointer;
            font-size: 28px;
          }
        }
      }
      .right {
        flex: 2;
        form {
          display: flex;
          flex-wrap: wrap;
          gap: 28px;
          justify-content: space-around;

          .formInput {
            width: 40%;

            input {
              outline: none;
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 2px solid gray;
              font-size: 14px;
            }
          }
          button {
            width: 150px;
            padding: 7px;
            background-color: teal;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 400;
            cursor: pointer;
          }
        }
      }
    }
  }
}
