.featured {
  flex: 3;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  border-radius: 4px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #777;

    h1 {
      font-size: 23px;
      font-weight: 500;
    }

    .icon {
      font-size: 20px;
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;

    .featuredChart {
      width: 100px;
      height: 100px;
    }

    .title {
      font-size: 16px;
      color: #999;
    }

    .amount {
      font-size: 28px;
    }

    .desc {
      width: 100%;
      font-size: 16px;
      color: #888;
      text-align: center;
    }

    .summary {
      margin-top: 5px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        text-align: center;
        .itemTitle {
          font-size: 14px;
          color: #888;
        }
        .itemResult {
          margin-top: 5px;
          display: flex;
          font-size: 12px;
          align-items: center;

          &.positive {
            color: green;
          }

          &.negative {
            color: red;
          }
        }
      }
    }
  }
}
